<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">{{title}}</h3>
    </div>



    <form #searchForm="ngForm" (ngSubmit)="onsubmit(searchForm.value)">
        <div class="form-group">
            <input type="text" placeholder="Search for Video..." class="form-control" name="search_value" ngModel>
            <button type="submit" class="btn btn-md btn-primary btn-block">Search</button>

        </div>
    </form>




    <div class="row marketing">
        <div class="row">

            <div *ngFor="let video of videos" class="col-md-4">
                <a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" class="thumbnail img-responsive">
                        <img src="{{video.snippet.thumbnails.medium.url}}" alt="...">
                </a>
                <p class="text-center">{{video.snippet.title}}</p>    
            </div>

            <!--<tr *ngFor="let video of videos">
                <td><img src="{{video.snippet.thumbnails.default.url}}" alt=""></td>
                <td>{{ video.snippet.title }}</td>
                <td><a class="btn btn-small btn-primary" href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}">Ver Video</a></td>

            </tr>
            </table>-->


        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2017 RENE PENA.</p>
    </footer>

</div>
<!-- /container -->